
<html>
<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/css/skystyleDark.css" />

    <title>Skyscraper Puzzle</title>
</head>

 <body>

      {{{ body }}}



   <script src="/js/tabutils.js"></script>
   <script src="/js/skyscraper44.js"></script>
   <script src="/js/skyscrpr.js"></script>

 </body>
</html>
