<div class="son">
<audio src="son/Kerusu_Hatachi.mp3" style="display:none" id="player"></audio>
<a href="#" ><img src="photos/volume.svg" width="20px" height="20px" alt="Lecture" id="volume"></a>
<a href="#" ><img src="photos/mute.svg" width="20px" height="20px" alt="Pause" id="mute"></a>
</div>

  <div class="time" >
  <h1>
  <time>00:00:00</time>
  </h1>
  </div>
  <div class="buttons">
<div id="stop"> Stop </div>
<div id="start"> Start </div>
<div id="clear"> Clear </div>
  </div>

 
  <div id ="open" class="menu" onclick="openNav()">&#9776; Menu</div>
      <div id="mySidenav" class="sidenav">
  <a src="js/skyscrpr.js" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="content">

<div id="MyBtn" onclick = "openOver()" >Rules</div>
 <div id="myOver" class="over">
   <div class="over-content">
     <span class="close"  onclick = "closeOver()">&times;</span>
        <h2> Rules </h2>
          <p>Each puzzle consists of an NxN
    grid with some clues along its sides.
    The object is to place a skyscraper in each square,
    with a height between 1 and N, so that no two skyscrapers
     in a row or column have the same number of floors.
     In addition, the number of visible skyscrapers,
     as viewed from the direction of each clue,
     is equal to the value of the clue.
     Note that higher skyscrapers block the view
     of lower skyscrapers located behind them.</p>

 </div>
</div>

  <a href="#">Levels</a>
  <a onclick="dropdown()">Language</a>
    <div id="myDropdown" class="drpdwn-content">
        <a href="/FR">French</a>
    </div>

  </div>

</div>

 <div class="buttonsGrid">
    <div id="restart"> Restart </div>
    <div id="clue"> Clue </div>
  </div>

  <table id="gamediv">

<!---  <script src="/public/js/tabutils.js"></script>
  <script src="/public/js/skyscrpr.js"></script>

-->
  </table>


<div class="buttonsGrid">
    <div id="over"> Over </div>
    <div id="newGame"> New Game </div>
</div>