table {
  background-color: lightblue;
  padding: 10px;
  border-radius: 30%;
}
th {
  height: 50px;
  width: 50px;
  background-color: white;
  margin: 10px;
  border-radius: 9px;
}
#empty {
  background-color: lightblue;
}
#arrow {
  border-radius: 50%;
}
